In [1]:
import sys
sys.path.append('/workspace/wilson/Finite-groups/src')
from named_groups import *
import pandas as pd
import numpy as np

In [16]:
g = gapS(5)
#g = smallgrp(120, 5)

In [17]:
subgroups = g.get_subgroups_idx(conjugates=False)

Computing subgroups from gap_repr

Computing orders: 100%|██████████| 19/19 [00:00<00:00, 2065.30it/s]
Computing elements: 100%|██████████| 17/17 [00:00<00:00, 5468.87it/s]

In [18]:
irreps = g.get_irreps(real=True)

In [19]:
subgroups = dict(sorted(subgroups.items(), key = lambda t: len(t[1])))
irreps = dict(sorted(irreps.items(), key = lambda t: int(t[0].split('d')[0])))

In [20]:
data = [
    [
        irrep[list(subgroup),:,:].mean(dim=0).norm().item()
        for subgroup in subgroups.values()
    ]
    for irrep in irreps.values()
]

In [21]:
table = pd.DataFrame(data=data, index=irreps.keys(), columns=subgroups.keys())

In [22]:
table

,1,C2_0,C2_1,C3_0,C2xC2_0,C2xC2_1,C4_0,C5_0,C6_0,S3_0,S3_1,D8_0,D10_0,A4_0,D12_0,C5:C4_0,S4_0,A5_0,S5
1d-0,1.000000,0.000000,1.000000,1.000000,1.000000e+00,0.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
1d-1,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
4d-0,2.000000,1.000000,1.414214,1.414214,1.000000e+00,3.193771e-08,1.000000,7.001961e-08,1.000000e+00,3.658463e-08,1.000000e+00,3.311110e-08,6.769786e-08,1.000000e+00,2.856056e-08,5.280985e-08,2.293063e-08,4.484193e-08,1.264405e-08
4d-1,2.000000,1.732051,1.414214,1.414213,9.999999e-01,1.414214e+00,1.000000,5.734528e-08,1.000000e+00,1.414213e+00,9.999999e-01,9.999999e-01,5.373207e-08,9.999999e-01,1.000000e+00,3.189858e-08,9.999999e-01,4.031909e-08,3.800445e-08
5d-0,2.236068,1.414214,1.732051,1.000000,1.414214e+00,1.000000e+00,1.414214,1.000000e+00,7.763815e-08,6.419148e-08,1.000000e+00,1.000000e+00,1.000000e+00,5.916322e-08,5.692168e-08,1.000000e+00,4.996458e-08,3.736697e-08,2.906290e-08
5d-1,2.236068,1.732051,1.732051,1.000000,1.414214e+00,1.414213e+00,1.000000,1.000000e+00,9.999999e-01,1.000000e+00,9.999999e-01,1.000000e+00,1.000000e+00,5.453872e-08,9.999999e-01,4.315552e-08,3.156437e-08,2.994376e-08,1.647666e-08
6d-0,2.449490,1.732051,1.414214,1.414214,8.985038e-08,9.999999e-01,1.000000,1.414213e+00,9.999999e-01,9.999999e-01,7.770701e-08,6.243520e-08,5.673704e-08,6.886056e-08,5.028046e-08,2.651507e-08,5.617007e-08,2.213302e-08,2.045434e-08

In [23]:
def highlight_zeros(val):
    color = 'yellow' if not np.allclose(val, 0., atol=1e-6) else ''
    return f'background-color: {color}'

table.style.format('{:.2f}').applymap(highlight_zeros)

/tmp/ipykernel_33578/1256444297.py:5: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  table.style.format('{:.2f}').applymap(highlight_zeros)